*{
    margin:0;
    padding: 0;
}
.caixa-topo{
    width: 100%;
}
.topo{
    display:flex; 
    justify-content: space-between;
}
.logo{
    width: 60px;
    height: 50px;

}
.botao{
    display: flex;
    width: auto;
    height: 50px;
    padding-right:30px;
    border:none;
}
section{
    display: inline-block;
}
.versoes{
    font-size: 30px;
    font-weight: 550;
      margin-left: 30px;
      margin-top: 30px;

}
.corolla{
    font-size: 15px;
    font-weight: 300 ;
    margin-left: 40px;
    margin-top: 20px;
}
ul{
    display: flex;
    gap: 170px;
    margin-top: 30px;
    margin-left: 40px;
    list-style: none;
    cursor: pointer;
}
li:hover{
    text-decoration: underline red 2px;
}
.caixa-centro{
    margin-top: 30px;
    margin-left: 110px;
    display: flex;
    align-items:center;
    gap:10px;
}
img{
    margin-left: 60px;
}
.arraste{
    font-size: 20px;
    font-weight: 300;
    margin: 0 auto;
}
.selecione {
    font-size: 20px;
    font-weight: 300;
    order: 0;
    margin-right: 10px;
}

button{
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50px;

}
button:hover{
    border: #282e30 ;
    border-radius: 120px;
}

.brancop{
    order: 1;
    background-color:#f4f4f2;
}
.vermelho{
    order: 2;
    background-color:#7e1f23;
}
.cinza{
    order:  3;
    background-color:#8e9da7;
}
.preto{
    order:  4;
    background-color:#282e30;
}
.prata{
    order:5;
    background-color: #c3cbd0;
}
aside{
    margin-top: 1rem;
    float: right;
    width: 50%;

}
.parcelas{
    font-size: 24px;
}
h2{
    margin-top: 20px;
    font-size: 24px;
}

    
